app-chip {
  margin-right: 8px;
}

.category {
  font-style: italic;
}

.card {
  &.child {
    border-color: #00AEB9;
  }
  &.family {
    border-color:#00B97E;
  }
  &.adult {
    border-color:#B92A00;
  }
}