<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home"routerLinkActive="active">Ludoweb</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <ng-container *ngIf="!user">
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </ng-container>

      <ng-container *ngIf="user">
        <ng-container *ngIf="isManager">
          <a class="nav-item nav-link" routerLink="/manager-games-list" routerLinkActive="active">Mes jeux</a>
        </ng-container>
        <ng-container *ngIf="!isManager">
          <a class="nav-item nav-link" routerLink="/search-game" routerLinkActive="active">Rechercher</a>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="d-flex">
    <a *ngIf="user" class="nav-item nav-link" href="javascript:void(0)" (click)="logout()">Se déconnecter</a>
    <a *ngIf="!user" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Se connecter</a>
  </div>
</nav>
