<div class="container">
  <h1>Ajouter un jeu</h1>
  <form #addGameForm="ngForm" (ngSubmit)="validate()">
    <div class="form-group">
      <label for="nameInput">Nom du jeu</label>
      <input type="text" class="form-control" id="nameInput" name="name" [(ngModel)]="game.name">
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description du jeu</label>
      <textarea class="form-control" id="descriptionInput" rows="3" name="description" [(ngModel)]="game.description"></textarea>
    </div>
    <div class="form-group">
      <label for="categorySelect">Catégorie</label>
      <select class="form-control" id="categorySelect" name="category" [(ngModel)]="game.category">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="categorySelect">Age</label>
      <select class="form-control" id="ageSelect" name="age" [(ngModel)]="game.age">
        <option *ngFor="let age of ages" [value]="age">{{ age }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="categorySelect">Ajouter un tag</label>
      <select class="form-control" id="tagSelect" (change)="onTagSelected(tagSelected.value)" name="tagSelected" ngModel #tagSelected="ngModel">
        <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
      </select>
    </div>

    <div>
      <span *ngFor="let tag of game.tags">
        <app-chip [value]="tag" [canDelete]="true" (removeEvent)="removeTag($event)"></app-chip>
      </span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:20px;" [disabled]="!addGameForm.valid">Valider</button>
  </form>
</div>