<!-- <div *ngIf="userService.user">
  Bonjour {{ userService.user.firstName }}
</div> -->
<img src="./assets/images/games.jpg" class="top-image">

<div class="container">
  <div class="top">
    <h1>Ludoweb</h1>
    <p>
      Prétez et empruntez des jeux de société.
    </p>

    <div>
      <div *ngIf="!showNewsletter">
        <button type="button" class="btn btn-primary" (click)="showNewsletter = true">S'inscrire à la newsletter</button>
      </div>
      <div *ngIf="showNewsletter">
        <input type="email" #newsLetterInput="ngModel" [(ngModel)]="newsletterEmail" [email]="true">
        <button type="button" class="btn btn-primary" [disabled]="!newsLetterInput.value" (click)="inscriptionToNewsletter()">Recevoir la newsletter</button>
      </div>
    </div>
  </div>

  <h2>Ludoweb en quelques chiffres</h2>

  <div class="stat-element">
    <div class="number">{{ stats?.nbLoans }}</div>
    <div class="text">prêts de jeux effectués</div>
  </div>

  <div class="stat-element">
    <div class="number">{{ stats?.nbManagers }}</div>
    <div class="text">ludothèques</div>
  </div>

  <div class="stat-element">
    <div class="number">{{ stats?.nbUsers }}</div>
    <div class="text">utilisateurs</div>
  </div>

  <div class="stat-element">
    <div class="number">{{ stats?.nbGames }}</div>
    <div class="text">jeux enregistrés</div>
  </div>

  <div class="stat-element">
    <div class="number">{{ stats?.nbGames / stats?.nbUsers }}</div>
    <div class="text">jeux par utilisateur en moyenne</div>
  </div>

  <br>
  <div class="stat-element">
    <div class="number">{{ stats?.categories.length }}</div>
    <div class="text">catégories différentes :</div>
  </div>
  <div>
    <span *ngFor="let category of stats?.categories; let last = last;">
      {{ category }}<span *ngIf="!last">, </span>
    </span>
  </div>

  <br>
  <h2>Les témoignages</h2>
  <div class="row">
    <div class="col-xs-12 col-md-4" *ngFor="let testimony of testimonies">
      <div class="testimony-bloc">
        <div>
          <img [src]="testimony.avatarUrl" alt="testimony">
        </div>
        <div [ngClass]="{'blue' : testimony.gender === 'man', 'pink' : testimony.gender === 'woman'}">
          {{ testimony.firstName }}
        </div>
        <div>
          {{ testimony.text }}
        </div>
      </div>
    </div>
  </div>


  <br>
  <h2>Les derniers jeux ajoutés</h2>

  <div class="row">
    <div class="col-xs-12 col-md-4" *ngFor="let game of games">
      <app-game [game]="game"></app-game>
    </div>
  </div>
  <br>
</div>